@model Dish
<div class="text-center">
    <a href="/">Chefs</a> | <a href="/dishes">Dishes</a> | <a href="/chef/add">Add a Chef</a> | <a href="/dish/add">Add a Dish</a>
    <h1 class="display-6 mt-5">Add a dish</h1>
    <hr>

    <form action="/dish/add-db" method="post">
        <div class="container d-flex justify-content-around"> 
            <div class="left">
                <div class="col-12">
                    <label class="form-label">Name of Dish</label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label"># of Calories</label>
                    <input type="number" class="form-control" asp-for="Calories">
                    <span asp-validation-for="Calories"></span>
                </div>
            </div>

            <div class="middle">
                <label class="form-label">Chef's Name</label>
                @* <select asp-for="ChefId " class="form-select">
                    <option value="null">--select a chef--</option>
                    @foreach (Chef chef in @ViewBag.All_Chefs)
                    {
                        <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
                    }
                </select>
                <span asp-validation-for="ChefId"></span> *@
            </div>

            <div class="right">
                <label class="form-label">Tastiness</label>
                <select asp-for="Tastiness" class="form-select">
                    <option value=null>--select a note--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Tastiness"></span>
                <input type="submit" value="Add a dish" class="btn btn-success mt-3">
            </div>
        </div> 
    </form>
</div>
